.grid-item .file-layout {
  margin-right: 20px;
  margin-bottom: 20px;
}
.label.file-label {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  bottom: 6px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.file-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.selected {
  background: #e8f0fe !important;
  color: black !important;
}
.tooltip {
  position: absolute;
  bottom: 43px;
  margin: 0px 15px;
  background: #dcdbdb;
  padding: 4px 15px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
  transition: all;
}
